# Ignore .env file
# This file contains sensitive information such as account credentials
# Ignoring it prevents accidentally exposing sensitive data
.env

./main/codesigning.sh
./main/.DS_Store
./main/.vscode
./main/target


